<% provide(:title, @user.name) %>
<div class="row">
	<aside class="users span4">
		<%= render :partial => "user", :locals => {:user => @user} %>
	</aside>

	<div class="span8">
		<% if @user.microposts.any? %>
		<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>
