<div class="row">
  <footer class="footer">
    <small>
      <a href= "#">Brij's online store</a>
      by Brij
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><a href="#">News</a></li>
      </ul>
    </nav>
  </footer>
</div>